body {
    background: linear-gradient(180deg, #e41111, #990000);
    height: 100vh; /* Para cubrir toda la pantalla */
    margin: 0;
}

h1 {
    color: #ffffff; 
}

.img-fluid {
    border: 5px solid #dc3545;
    border-radius: 10px;
}